<article>
    <div class="w-100">
        <a onclick='event.stopPropagation();' href="/post/{{id}}" class="font-weight-bold main-heading">{{title}}</a>
    </div>
    <div>
        <p class="m-0 mt-2 sub-txt">By. {{user.username}}</p>
    </div>
    <div class="d-flex justify-content-between align-items-center post-date-and-comment-holder">
        <p class="m-0 mt-2 font-weight-light font-italic sub-txt">Posted On: {{formatDate created_at}}</p>
        <a onclick='event.stopPropagation();' href="/post/{{id}}" class="mt-2 main-heading font-weight-bold comment-a">Comments({{comments.length}})</a>
    </div>
</article>